/* TAB向けレイアウト */
@media all and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

/* what we can do? */

.section {
  display: flex;
  padding-bottom: 25px;
}

.section__img ,
.section__box{
  float: none;
  width: auto;
  margin: 0 auto;
}


/* our latest work */

.image__box {
  flex-direction: column;
}

.article__image {
  margin: 0;
}

.article__image:nth-child(3n-2) {
  margin-top: 80px;
}

.article__image:first-child {
  margin-top: 40px;
}

.article__inner {
  flex-direction: column;
  margin: 80px 0 0 0;
}

.article__text {
  float: none;
  margin-right: 0;
}

.article__button {
  width: 150px;
  height: 60px;
  margin-top: 40px;
  float: none;
}


/* our skills */

.skills__box {
  flex-direction: column;
}

.skills__box__circle {
  box-sizing: border-box;
  margin-top: 88px;
  margin-left: 0;
  float: none;
}

.skills__box__circle:first-child {
  margin-top: 40px;
}


}

/* SP向けレイアウト */
@media all and (max-width: 767px) {

  /* header */
  .button {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  /* theme */
  .theme {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .theme__text {
    font-size: 80px;
    word-wrap: normal;
  }
  
  .theme__sub-text {
    word-wrap: normal;
  }
  

/* nav */
.nav {
  padding-top: 50px;
  box-sizing: border-box;
}

.nav .inner {
  flex-direction: column;
}

.sns__image {
  width: 100%;
  margin: 0 15px;
  float: none;
  padding: 30px;
}



}