/* TAB向けレイアウト */
@media all and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  /* what we can do? */

  .section {
    padding-bottom: 25px;
  }

  .section__inner {
    display: block;
  }

  .section__img,
  .section__box {
    width: 100%;
  }


  /* our latest work */

  .image__box {
    flex-direction: column;
  }

  .article__image {
    margin: 0;
  }

  .article__image:nth-child(3n-2) {
    margin-top: 80px;
  }

  .article__image:first-child {
    margin-top: 0;
  }

  .article__box {
    flex-direction: column;
    padding: 80px 0 0 0;
  }

  .article__text {
    float: none;
    margin-right: 0;
  }

  .article__btn {
    width: 150px;
    height: 60px;
    margin: 0 auto;
    margin-top: 40px;
    float: none;
  }


  /* our skills */

  .skills__box {
    flex-direction: column;
  }

  .skills__box__circle {
    box-sizing: border-box;
    margin-top: 88px;
    margin-left: 0;
    float: none;
  }

  .skills__box__circle:first-child {
    margin-top: 40px;
  }


}

/* SP向けレイアウト */
@media all and (max-width: 767px) {

  /* header */
  .header__btn {
    display: none;
  }

  .header-menu {
    display: block;
  }

  /* theme */
  .theme {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .theme__text {
    font-size: 80px;
    word-wrap: normal;
  }

  .theme__subtitle {
    word-wrap: normal;
  }


  /* nav */
  .nav__inner {
    padding-top: 50px;
    box-sizing: border-box;
  }

  .nav .inner {
    flex-direction: column;
  }

  .nav__image {
    width: 100%;
    margin: 0 15px;
    float: none;
  }



}