/* TAB向けレイアウト */
@media all and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  /* what we can do? */
  .section {
    padding-bottom: 25px;
  }

  .section__inner {
    display: block;
  }

  .section__img,
  .section__box {
    width: 100%;
  }


  /* our latest work */

  .image__box {
    display: block;
  }
  
  .image__box li {
    text-align: center;
    margin: 0;
  }

  .image__box li:nth-child(3n-2) {
    margin-top: 80px;
  }

  .image__box li:first-child {
    margin-top: 0;
  }

  .article__box {
    margin: 80px 0 0 0;
    display: block;
  }

  .article__btn {
    margin: 0 auto;
    margin-top: 40px;
    display: inline-block;
  }


  /* our skills */

  .skills__box {
    display: block;
  }

  .skills__box li {
    margin-top: 88px;
    margin-left: 0;
  }

  .skills__box li:first-child {
    margin-top: 40px;
  }


}

/* SP向けレイアウト */
@media all and (max-width: 767px) {

  /* header */
  .header__btn {
    display: none;
  }

  .header-menu {
    display: block;
  }

  /* theme */
  .theme {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .theme__text {
    font-size: 80px;
    word-wrap: normal;
  }

  .theme__subtitle {
    word-wrap: normal;
  }


  /* nav */
  .nav__inner {
    padding-top: 50px;
    box-sizing: border-box;
  }

  .nav__image {
    display: block;
  }
  
  .nav__image li {
    width: 100%;
    margin: 0 auto;
  }



}