@charset "UTF-8";

body {
  font-family: 'Lato', 'Raleway';
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  font-size: 0;
}

.title-font {
  font-family: 'Raleway';
}


.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header__btn {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
}

.header__btn:hover {
  transition: color 0.3s;
  color: #333;
}

.header-icon {
  font-size: 40px;
}

.header-menu {
  display: none;
  border: 1px solid #ddd;
  color: #ddd;
  padding: 10px;
  border-radius: 4px;
}

.main {
  padding-top: 70px;
}

/* theme */
.theme {
  background-color: #f2f2f2;
}

.theme__inner {
  padding: 250px 0;
  text-align: center;
}

.theme__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme__subtitle {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

/* what we can do? */

.section {
  background-color: #74cfae;
}

.section__inner {
  padding-top: 50px;
  display: flex;
}

.section__img {
  width: 40%;
  text-align: center;
  font-size: 0;
}

.section__box {
  text-align: center;
  color: #fff;
  width: 60%;
}

.section__title {
  font-size: 24px;
  margin-top: 20px;
}

.section__text {
  font-size: 20px;
  margin-top: 35px;
  line-height: 28px;
}

/* our latest work */

.article {
  background-color: #f2f2f2;
}

.article__inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.article__title {
  font-size: 24px;
  color: #333;
  text-align: center;
}

/* 
.work__list {
  margin-top: 40px;
  font-size: 0;
}

.work__list li {
  margin: 80px 0 0 100px;
  display: inline;
}

.work__list li:nth-child(-n+3) {
  margin-top: 0;
}

.work__list li:nth-child(3n-2) {
  margin-left: 0;
}

.work__list li a {
  opacity: 0.7;
  transition: .3s;
}

.work__list li a {
  opacity: 1;
} */

.image__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0;
  margin-top: 40px;
}

.article__image {
  box-sizing: border-box;
  margin: 80px 0 0 100px;
  opacity: 0.7;
  transition: 0.3s
}

.article__image:hover {
  opacity: 1;
}

.article__image:nth-child(-n+3) {
  margin-top: 0;
}

.article__image:nth-child(3n-2) {
  margin-left: 0;
}


.article__box {
  display: flex;
  padding: 90px 125px 0 80px;
}

.article__text {
  float: left;
  color: #555;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
}

.article__btn {
  width: 250px;
  height: 50px;
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  border: none;
  float: right;
}

.article__btn:hover {
  transition: color 0.3s;
  color: #333;
}


/* our skills */
.skills {
  background-color: #4e4e4e;
}

.skills__inner {
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;
}

.skills__title {
  font-size: 24px;
}

.skills__box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.skills__box__circle {
  box-sizing: border-box;
  margin-left: 180px;
  float: left;
}

.skills__box__circle:first-child {
  margin-left: 0;
}

.skills__box__circle p {
  margin-top: 10px;
  font-size: 16px;
}

/* nav */
.nav {
  background-color: #f2f2f2;
}

.nav__inner {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__image {
  width: 185px;
  height: 90px;
  float: left;
  text-align: center;
  box-sizing: border-box;
  /* padding: 30px; */
  transition: 0.3s;
}

.nav__image:hover {
  background-color: #fff;
}

.nav__icon {
  color: #74cfae;
  font-size: 50px;
  padding: 20px 0;
  display: block;
}

/* footer */

.footer {
  background-color: #74cfae;
}

.footer__inner {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
  color: #fff;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}