@charset "UTF-8";

body {
  font-family: 'Lato';
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  font-size: 0;
}

.title-font {
  font-family: 'Raleway';
}


.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header__btn {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  display: inline-block;
  transition: color 0.3s;
}

.header__btn:hover,
.work__btn:hover {
  color: #333;
}

.header-icon {
  font-size: 40px;
}

.header-menu {
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.header-menu-box {
  position: relative;
  width: 25px;
  height: 20px;
}

.header-menu-box span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.header-menu span:first-child {
  top: 0;
}

.header-menu span:nth-child(2) {
  top: 10px;
}

.header-menu span:nth-child(3) {
  bottom: 0;
}

.main {
  padding-top: 70px;
}

/* theme */
.theme {
  background-color: #f2f2f2;
}

.theme__inner {
  padding: 250px 0;
  text-align: center;
}

.theme__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme__subtitle {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

/* what we can do? */

.what {
  background-color: #74cfae;
}

.what__inner {
  padding-top: 50px;
  display: flex;
  text-align: center;
}

.what__img {
  width: 40%;
  font-size: 0;
}

.what__box {
  color: #fff;
  width: 60%;
  padding-top: 20px;
}

.what__title {
  font-size: 24px;
}

.what__text {
  font-size: 20px;
  margin-top: 35px;
  line-height: 28px;
}

/* our latest work */

.work {
  background-color: #f2f2f2;
}

.work__inner {
  padding: 60px 0 70px;
}

.work__title {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.image__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 0;
  margin-top: 40px;
}

.image__box li {
  margin: 80px 0 0 100px;
}

.image__box li a {
  opacity: 0.7;
  transition: 0.3s
}

.image__box li a:hover {
  opacity: 1;
}

.image__box li:nth-child(-n+3) {
  margin-top: 0;
}

.image__box li:nth-child(3n-2) {
  margin-left: 0;
}

.work__box {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  align-items: baseline;
}

.work__text {
  color: #555;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 1px;
}

.work__btn {
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  white-space: nowrap;
  transition: color 0.3s;
}

/* our skills */
.skills {
  background-color: #4e4e4e;
}

.skills__inner {
  padding: 70px 0 100px;
  text-align: center;
  color: #fff;
}

.skills__title {
  font-size: 24px;
}

.skills__box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.skills__box li {
  margin-left: 180px;
}

.skills__box li:first-child {
  margin-left: 0;
}

.skills__box li p {
  margin-top: 10px;
  font-size: 16px;
}

/* sns */
.sns {
  background-color: #f2f2f2;
}

.sns__inner {
  padding: 200px 0;
}

.sns__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns__image li {
  width: 185px;
  height: 90px;
  text-align: center;
}

.sns__image li a {
  color: #74cfae;
  font-size: 50px;
  padding: 20px 0;
  display: block;
  transition: 0.3s;
}

.sns__image li a:hover {
  background-color: #fff;
}

/* footer */
.footer {
  background-color: #74cfae;
}

.footer__inner {
  padding: 20px 0 25px;
  text-align: right;
  color: #fff;
}

/* TAB向けレイアウト */
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  /* what we can do? */
  .what__inner {
    padding-bottom: 25px;
    display: block;
  }

  .what__box {
    padding-top: 0;
    margin-top: 20px;
  }

  .what__img,
  .what__box {
    width: 100%;
  }

  /* our latest work */
  .image__box {
    display: block;
  }

  .image__box li {
    text-align: center;
    margin: 0;
  }

  .image__box li:nth-child(3n-2) {
    margin-top: 80px;
  }

  .image__box li:first-child {
    margin-top: 0;
  }

  .work__box {
    margin-top: 90px;
    display: block;
  }

  .work__btn {
    margin: 40px auto 0;
  }

  /* our skills */
  .skills__box {
    display: block;
  }

  .skills__box li {
    margin: 88px 0 0;
  }

  .skills__box li:first-child {
    margin-top: 0;
  }

}

/* SP向けレイアウト */
@media screen and (max-width: 767px) {

  /* header */
  .header__btn {
    display: none;
  }

  .header-menu {
    display: block;
  }

  /* theme */
  .theme__inner {
    padding: 160px 0 130px;
  }

  .theme__title {
    font-size: 80px;
  }

  /* what we can do? */
  .what__inner {
    padding-top: 50px;
  }

  /* sns */
  .sns__inner {
    padding: 50px 0;
    box-sizing: border-box;
  }

  .sns__image {
    display: block;
  }

  .sns__image li {
    width: 100%;
    margin: 0 auto;
  }

}