@charset "UTF-8";

body {
  font-family: 'Lato';
}

a {
  text-decoration: none;
}

img {
  font-size: 0;
}

.title-font {
  font-family: 'Raleway';
}


.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header__btn {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  display: inline-block;
}

.header__btn:hover,
.article__btn:hover {
  transition: color 0.3s;
  color: #333;
}

.header-icon {
  font-size: 40px;
}

.header-menu {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
}

.header-menu span {
  position: absolute;
  left: 15px;
  width: 30px;
  height: 1px;
  background-color: #ddd;
}

.header-menu span:first-child {
  top: 25%;
}

.header-menu span:nth-child(2) {
  top: 50%;
}

.header-menu span:nth-child(3) {
  top: 75%;
}

.main {
  padding-top: 70px;
}

/* theme */
.theme {
  background-color: #f2f2f2;
}

.theme__inner {
  padding: 250px 0;
  text-align: center;
}

.theme__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme__subtitle {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

/* what we can do? */

.section {
  background-color: #74cfae;
}

.section__inner {
  padding-top: 50px;
  display: flex;
  text-align: center;
}

.section__img {
  width: 40%;
  font-size: 0;
}

.section__box {
  color: #fff;
  width: 60%;
}

.section__title {
  font-size: 24px;
  margin-top: 20px;
}

.section__text {
  font-size: 20px;
  margin-top: 35px;
  line-height: 28px;
}

/* our latest work */

.article {
  background-color: #f2f2f2;
}

.article__inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.article__title {
  font-size: 24px;
  color: #333;
  text-align: center;
}

.image__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0;
  margin-top: 40px;
}

.image__box li {
  margin: 80px 0 0 100px;
  opacity: 0.7;
  transition: 0.3s
}

.image__box li:hover {
  opacity: 1;
}

.image__box li:nth-child(-n+3) {
  margin-top: 0;
}

.image__box li:nth-child(3n-2) {
  margin-left: 0;
}


.article__box {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 90px 80px 0 80px;
  justify-content: space-between;
}

.article__text {
  color: #555;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 1px;
}

.article__btn {
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}



/* our skills */
.skills {
  background-color: #4e4e4e;
}

.skills__inner {
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;
}

.skills__title {
  font-size: 24px;
}

.skills__box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.skills__box li {
  margin-left: 180px;
}

.skills__box li:first-child {
  margin-left: 0;
}

.skills__box li p {
  margin-top: 10px;
  font-size: 16px;
}

/* nav */
.nav {
  background-color: #f2f2f2;
}

.nav__inner {
  padding: 200px 0;
}

.nav__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__image li {
  width: 185px;
  height: 90px;
  text-align: center;
  transition: 0.3s;
}

.nav__image li:hover {
  background-color: #fff;
}

.nav__image li a {
  color: #74cfae;
  font-size: 50px;
  padding: 20px 0;
  display: block;
}

/* footer */

.footer {
  background-color: #74cfae;
}

.footer__inner {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
  color: #fff;
}