/* TAB向けレイアウト */
@media all and (max-width: 1199px) {
  .section {
    background-color: #74cfae;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .iphone {
    width: 100%;
    margin-bottom: 20px;
  }

  .section__box {
    width: 100%;
  }

  /* our latest work */
  .article__image {
    width: 100%;
    margin: 0;
  }

  .article__image:nth-child(3n) {
    margin-bottom: 80px;
  }

  /* .article__inner {
    display: flex;
  } */

.article__text {
  /* float: none; */
  display: block;
  margin-right: 0;
  margin-bottom: 40px;
}

.article__button {
  display: block;
  /* float: none; */
}

  /* our skills */
  .skills__box {
    display: block;
  }

  .skills__circle {
    width: 100%;
    margin: 0 auto 88px auto;
  }

}

/* SP向けレイアウト */
@media all and (max-width: 767px) {

  .inner {
    width: 100%;
  }

  /* header */
  .button {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  /* theme */
  .theme {
    background-color: #f2f2f2;
    padding-top: 160px;
    padding-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .theme__text {
    font-size: 80px;
  }

  .theme__sub-text {
    font-size: 30px;
  }


  /* what we can do? */

  .section {
    background-color: #74cfae;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  .iphone {
    width: 100%;
  }

  .section__box {
    width: 100%;
  }


  /* our latest work */
  .article__image {
    width: 100%;
    margin: 0;
  }

  .article__image:nth-child(3n) {
    margin-bottom: 30px;
  }


  /* our skills */
  .skills__box {
    display: block;
  }

  .skills__circle {
    width: 100%;
    margin: 0 auto 25px auto;
  }

  /* nav */
  .nav {
    padding: 50px 15px;
    background-color: #f2f2f2;
  }

  .sns__image {
    width: 185px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    transition: 0.3s;
  }

  .sns__image:hover {
    background-color: #fff;
  }

  .sns__icon {
    color: #74cfae;
    font-size: 50px;
  }


}